<h1>Restaurants</h1>
<%= link_to "Sort by title",
            restaurants_path(:sort => "title"),
            :class => "btn btn-dark text-light" %>
<%= link_to "Sort by description",
            restaurants_path(:sort => "description"),
            :class => "btn btn-dark text-light" %>
<%= link_to "Sort by distance",
            restaurants_path(:distance => "distance"),
            :class => "btn btn-dark text-light" %>
<%= link_to "Unsort",
            restaurants_path,
            :class => "btn btn-dark text-light" %>
<div class="row mt-4">
  <% @restaurants.each do |restaurant| %>
    <div class="px-3 mb-4 mb-md-5 col col-12 col-sm-6 col-md-4">
      <div class="card shadow text-center bck-card">
        <div class="card-header bg-dark">
          <h2 class="my-0 font-weight-bold text-white"><%= restaurant.title %></h2>
        </div>
        <div class="card-body">
          <div class="card-title h2 mb-3">
            <h4 class="my-0 font-weight-normal text-white"><%= restaurant.description %></h4>
          </div>
          <div class="card-title h2 mb-3">
            <h4 class="my-0 font-weight-normal text-white"><strong>Distance: </strong><%= restaurant.distance_from(current_user, :units => :meters).round(2) %></h4>
          </div>
          <div class="card-title h2 mb-3">
            <% if current_user.guest? %>
              <%= current_user.friends_rating(restaurant.id).to_i.times do %>
                <i class='fas fa-star fa-xs' style='color:#d5bc1a'></i>
              <% end %>
            <% end %>
          </div>
          <div class="card-header d-flex justify-content-around p-0 m-0">
            <%= link_to 'Reserve', restaurant,  class: "btn btn-lg  text-white p-0 bg-dark p-2 px-5 m-0" %>
            <%= link_to 'Reservations',  restaurant_reservations_path(restaurant) , class: "btn btn-lg  text-white p-0 bg-dark p-2 m-0" if current_user.guest? %>
            <%= link_to 'Edit', edit_restaurant_path(restaurant), class: "btn btn-lg btn-block button-card text-white m-0" if current_user.restaurant_manager(restaurant) %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<br>
<%= link_to 'New Restaurant', new_restaurant_path if current_user.admin? %>
